{% extends 'base.html' %}

{% block content %}

<!-- ================= Main ================= -->
<div class="container-fluid">
    <div class="row">
        <!-- ================= Sidebar ================= -->
        <div class="col-2" style="position: relative;">
            <div class="d-none d-lg-block h-100 scrollbar" style="position: fixed; top: 0;">
                <ul class="navbar-nav mt-4 ms-3 d-flex flex-column mb-5" style="padding-top: 56px">
                    <!-- top -->
                    <!-- avatar -->
                    <li class="dropdown-item p-1 rounded">
                        <a href="#" class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  ">
                            <div class="p-2">
                                <img src="{{request.user.user_profile.profile_pic.url}}" alt="avatar"
                                    class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
                            </div>
                            <div>
                                <p class="m-0">{{request.user}}</p>
                            </div>
                        </a>
                    </li>
                    <!-- top 1 -->
                    <li class="dropdown-item p-1 rounded">
                        <a href="#" class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  ">
                            <div class="p-2">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/tSXYIzZlfrS.png" alt="from fb"
                                    class="rounded-circle" style="width: 38px; height: 38px; object-fit: cover" />
                            </div>
                            <div>
                                <p class="m-0">Friends</p>
                            </div>
                        </a>
                    </li>

                    <!-- see more -->
                    <li class="p-1" type="button">
                        <div id="accordionFlushExample">
                            <div>
                                <!-- see more button -->
                                <div class="d-flex align-items-center" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <div class="p-2">
                                        <i class="fas fa-chevron-down rounded-circle p-2"
                                            style="background-color: #d5d5d5 !important"></i>
                                    </div>
                                    <div>
                                        <p class="m-0">See More</p>
                                    </div>
                                </div>
                                <!-- content -->
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div>
                                        <!-- item 1 -->
                                        <div class="
                                                    d-flex
                                                    align-items-center
                                                    dropdown-item
                                                    p-0
                                                    m-0">
                                            <div class="p-2">
                                                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/Y7r38CcFEw5.png"
                                                    alt="from fb" class="rounded-circle" style="
                                                        width: 38px;
                                                        height: 38px;
                                                        object-fit: cover;" />
                                            </div>
                                            <div>
                                                <p class="m-0">Campus</p>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ================= Timeline ================= -->
        <div class="col-12 col-lg-6 pb-5">
            <div class="d-flex flex-column justify-content-center w-100 mx-auto" style="padding-top: 56px;">

                <!-- create post -->
                <div class="bg-white p-3 mt-3 rounded border shadow">
                    <!-- avatar -->
                    <div class="d-flex" type="button">
                        <div class="p-1">
                            <img src="{{request.user.user_profile.profile_pic.url}}" alt="avatar"
                                class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
                        </div>
                        <input type="text" class="form-control rounded-pill border-0 bg-gray pointer" disabled
                            placeholder="What's on your mind, John?" data-bs-toggle="modal"
                            data-bs-target="#createModal" />
                    </div>
                    <!-- create modal -->
                    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                        aria-hidden="true" data-bs-backdrop="false">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <!-- head -->
                                <div class="modal-header align-items-center">
                                    <h5 class="text-dark text-center w-100 m-0" id="exampleModalLabel">
                                        Create Post
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <!-- body -->
                                <div class="modal-body">
                                    <div class="my-1 p-1">
                                        <div class="d-flex flex-column">
                                            <!-- name -->
                                            <div class="d-flex align-items-center">
                                                <div class="p-2">
                                                    <img src="{{request.user.user_profile.profile_pic.url}}"
                                                        alt="from fb" class="rounded-circle"
                                                        style="width: 38px;height: 38px;object-fit: cover;" />
                                                </div>
                                                <div>
                                                    <p class="m-0 fw-bold">{{request.user}}</p>
                                                    <select class="form-select border-0 bg-gray w-75 fs-7"
                                                        aria-label="Default select example">
                                                        <option selected value="1">Public</option>
                                                        <option value="2">Pin To Top</option>
                                                        <option value="3">Hide</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <form action="" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <!-- text -->
                                                <div>
                                                    <input type="text" name="title" placeholder="Title"
                                                        class="form-control my-3 " maxlength="120" required=""
                                                        id="id_title">
                                                    <textarea name="description" placeholder="Description"
                                                        class="form-control " cols="40" rows="10" required=""
                                                        id="id_description"></textarea>
                                                </div>

                                                <!-- media -->
                                                <div
                                                    class="d-flex justify-content-between border border-1 border-light rounded p-3 mt-3">
                                                    <div>
                                                        <input type="file" name="image" accept="image/*" id="id_image"
                                                            style="opacity: 0;
                                                    width: 0.1px;
                                                    height: 0.1px;
                                                    position: absolute;">
                                                        <label for="id_image" class="fs-3">
                                                            <div class="btn btn-warning"> UPLOAD
                                                                <i class="fas fa-images text-danger pointer mx-1"
                                                                    role="button">
                                                                </i>
                                                            </div>

                                                        </label>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                    <!-- end -->
                                </div>
                                <!-- footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary w-100">
                                        Post
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- posts -->
                <!-- p 1 -->
                {% for blog in blogs %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            <img src="{{blog.user.user_profile.profile_pic.url}}" alt="avatar"
                                class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
                            <div>
                                <p class="m-0 fw-bold">{{blog.user}}</p>
                                <span class="text-muted fs-7">{{blog.updated_at}}</span>
                            </div>
                        </div>
                        <!-- edit -->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                            aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="
                        dropdown-item
                        d-flex
                        justify-content-around
                        align-items-center
                        fs-7
                      " href="#">
                                    Edit Post</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a class="
                        dropdown-item
                        d-flex
                        justify-content-around
                        align-items-center
                        fs-7
                      " href="#">
                                    Delete Post</a>
                            </li>
                        </ul>
                    </div>
                    <!-- post content -->
                    <div class="mt-3">
                        <!-- content -->
                        <div>
                            <h6>{{blog.title}}</h6>
                            <p>
                                {{blog.description}}
                            </p>
                            {% if blog.image %}
                            <img src="{{blog.image.url}}" alt="post image" class="img-fluid rounded" />
                            {% endif %}
                        </div>
                        <!-- likes & comments -->
                        <div class="post__comment mt-3 position-relative">
                            <!-- likes -->
                            <div class="
                      d-flex
                      align-items-center
                      top-0
                      start-0
                      position-absolute
                    " style="height: 50px; z-index: 5">
                                <div class="me-2">
                                    <i class="text-primary fas fa-thumbs-up"></i>
                                    <i class="text-danger fab fa-gratipay"></i>
                                    <i class="text-warning fas fa-grin-squint"></i>
                                </div>
                                <p class="m-0 text-muted fs-7">Phu, Tuan, and 3 others</p>
                            </div>
                            <!-- comments start-->
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item border-0">
                                    <!-- comment collapse -->
                                    <h2 class="accordion-header" id="headingTwo">
                                        <div class="
                                        view_comment
                            accordion-button
                            collapsed
                            pointer
                            d-flex
                            justify-content-end
                          " data-bs-toggle="collapse" data-bs-target="#collapsePost{{blog.id}}" aria-expanded="false"
                                            aria-controls="collapsePost{{blog.id}}">
                                            <p class="m-0">2 Comments</p>
                                        </div>
                                    </h2>
                                    <hr />
                                    <!-- comment & like bar -->
                                    <div class="d-flex justify-content-around">
                                        <div class="like_container">
                                            <div class="like_btn d-flex
                                            justify-content-center
                                            align-items-center
                                            like_btn{{blog.id}}" role="button">
                                                {% if request.user in blog.liked_by.all %}
                                                <i class="fas fa-thumbs-up me-3 text-primary"></i>
                                                <p class="m-0">Liked</p>
                                                <input type="hidden" name="" class="is_liked" value="True">
                                                {% else %}
                                                <i class="fas fa-thumbs-up me-3"></i>
                                                <p class="m-0">Like</p>
                                                <input type="hidden" name="" class="is_liked" value="False">
                                                {% endif %}

                                                <input type="hidden" name="" class="blog_id" value="{{blog.id}}">
                                            </div>

                                        </div>
                                        <div class="
                                        view_comment
                            dropdown-item
                            rounded
                            d-flex
                            justify-content-center
                            align-items-center
                            pointer
                            text-muted
                            p-1
                            w-50
                          " data-bs-toggle="collapse" data-bs-target="#collapsePost{{blog.id}}" aria-expanded="false"
                                            aria-controls="collapsePost{{blog.id}}" role="button">
                                            <i class="fas fa-comment-alt me-3"></i>
                                            <p class="m-0">Comment</p>
                                        </div>
                                    </div>
                                    <!-- comment expand -->
                                    <div id="collapsePost{{blog.id}}" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <hr />
                                        <div class="accordion-body ">
                                            <div class="comment_body{{blog.id}}">
                                                {% for comment in blog.blog_comment.all %}
                                                <!-- comment 1 -->
                                                <div class="d-flex align-items-center my-1">
                                                    <!-- avatar -->
                                                    <img src="https://source.unsplash.com/collection/happy-people"
                                                        alt="avatar" class="rounded-circle me-2" style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              " />
                                                    <!-- comment text -->
                                                    <div class="p-3 rounded comment__input w-100">
                                                        <!-- comment menu of author -->
                                                        <div class="d-flex justify-content-end">
                                                            <!-- icon -->
                                                            <i class="fas fa-ellipsis-h text-blue pointer"
                                                                id="post1CommentMenuButton" data-bs-toggle="dropdown"
                                                                aria-expanded="false"></i>
                                                            <!-- menu -->
                                                            <ul class="dropdown-menu border-0 shadow"
                                                                aria-labelledby="post1CommentMenuButton">
                                                                <li class="d-flex align-items-center">
                                                                    <a class="
                                        dropdown-item
                                        d-flex
                                        justify-content-around
                                        align-items-center
                                        fs-7
                                      " href="#">
                                                                        Edit Comment</a>
                                                                </li>
                                                                <li class="d-flex align-items-center">
                                                                    <a class="
                                        dropdown-item
                                        d-flex
                                        justify-content-around
                                        align-items-center
                                        fs-7
                                      " href="#">
                                                                        Delete Comment</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <p class="fw-bold m-0">John</p>
                                                        <p class="m-0 fs-7 bg-gray p-2 rounded">
                                                            {{comment.comment}}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <!-- create comment -->
                                            <form id="commentForm{{blog.id}}">
                                                <div class="d-flex my-1 comment">
                                                    <!-- avatar -->
                                                    <div>
                                                        <img src="{{comment.user.user_profile.profile_pic.url}}"
                                                            alt="avatar" class="rounded-circle me-2" style="
                                  width: 38px;
                                  height: 38px;
                                  object-fit: cover;
                                " />
                                                    </div>
                                                    {% csrf_token %}
                                                    <!-- input -->
                                                    <input type="hidden" name="blog_id" class="blog_id"
                                                        value="{{blog.id}}">
                                                    <input type="text"
                                                        class="comment_input form-control border-0 rounded-pill bg-gray"
                                                        placeholder="Write a comment" />
                                                    <span class="btn btn-warning ms-2 add_comment"
                                                        role="button">ADD</span>
                                                </div>
                                            </form>
                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor%}

            </div>
        </div>
        <!-- ================= Chatbar ================= -->
        <div class="col-12 col-lg-4" style="position: relative;">
            <div class="
              d-none d-lg-block
              h-100
              scrollbar
            " style="position: fixed; top: 0;">
                <div class="p-3 mt-4">
                    <!-- sponsors -->
                    <h5 class="text-muted">Sponsored</h5>
                    <!-- s 1 -->
                    <li class="dropdown-item my-2 d-flex justify-content-between">
                        <!-- img -->
                        <a href="#" class="
                    d-flex
                    align-items-center
                    text-decoration-none
                    link-dark
                  ">
                            <img src="" alt="ads" style="width: 100px; height: 100px; object-fit: cover"
                                class="rounded me-3" />
                            <div>
                                <p class="m-0">Lorem ipsum</p>
                                <span class="text-muted fs-7">loremipsum.com</span>
                            </div>
                        </a>
                        <!-- icon -->
                        <div class="
                    rounded-circle
                    p-1
                    bg-white
                    d-flex
                    align-items-center
                    justify-content-center
                    mx-2
                    sponsor-icon
                    nav-item
                  " type="button" style="width: 38px; height: 38px">
                            <i class="fas fa-ellipsis-h text-muted p-2" data-bs-toggle="dropdown"></i>
                            <!-- menu -->
                            <ul class="dropdown-menu">
                                <!-- item 1 -->
                                <li class="dropdown-item">
                                    <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                        <i class="far fa-window-close"></i>
                                        <div class="ms-3">
                                            <p class="m-0">Hide Ad</p>
                                            <span class="text-muted fs-7">Never see this add again.</span>
                                        </div>
                                    </a>
                                </li>
                                <!-- item 2 -->
                                <li class="dropdown-item">
                                    <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        <div class="ms-3">
                                            <p class="m-0">Report Ad</p>
                                            <span class="text-muted fs-7">Tell us a problem with this add.</span>
                                        </div>
                                    </a>
                                </li>
                                <!-- item 3 -->
                                <li class="dropdown-item">
                                    <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                        <i class="fas fa-info-circle"></i>
                                        <div class="ms-3">
                                            <p class="m-0">Why am I seeing this ad?</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- contacts -->
                    <hr class="m-0" />
                    <div class="my-3 d-flex justify-content-between align-items-center">
                        <p class="text-muted fs-5 m-0">Contacts</p>
                        <!-- icons -->
                        <div class="text-muted">
                            <!-- video room -->
                            <i class="fas fa-video mx-2 pointer" type="button" data-bs-toggle="modal"
                                data-bs-target="#videoRoomD"></i>
                            <!-- video room modal -->
                            <div class="modal fade" id="videoRoomD" tabindex="-1" aria-labelledby="videoRoomDLabel"
                                aria-hidden="true" data-bs-backdrop="false">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content bg-dark">
                                        <!-- header -->
                                        <div class="modal-header border-0">
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <!-- body -->
                                        <div class="
                            modal-body
                            d-flex
                            flex-column
                            align-items-center
                            justify-content-center
                          " style="min-height: 400px">
                                            <i class="fas fa-video fs-0"></i>
                                            <h3 class="text-white">Schedule A Room For Later</h3>
                                            <p class="text-white text-center w-50 mx-auto">
                                                Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Ut deserunt alias laudantium itaque eius enim
                                                natus culpa eligendi consectetur maiores!
                                            </p>
                                            <button class="btn btn-lg btn-primary rounded-pill">
                                                Schedule Room
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- new chat -->
                            <i class="fas fa-search mx-2 pointer" type="button" data-bs-toggle="modal"
                                data-bs-target="#newChat"></i>
                            <!-- chat settings -->
                            <i class="fas fa-ellipsis-h pointer text-muted mx-2" type="button"
                                data-bs-toggle="dropdown"></i>
                            <!-- chat setting dd -->
                            <ul class="dropdown-menu shadow" style="width: 18em">
                                <!-- title -->
                                <div class="p-2">
                                    <h5>Chat Settings</h5>
                                    <span class="text-muted fs-7">Customize your Messenger experience.</span>
                                </div>
                                <hr />
                                <!-- incoming sound -->
                                <li>
                                    <div class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        ">
                                        <!-- icon -->
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-phone-alt me-3"></i>
                                            <p class="m-0">Incoming call sounds</p>
                                        </div>
                                        <!-- toggle -->
                                        <div class="form-check form-switch m-0">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                                checked />
                                            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                        </div>
                                    </div>
                                </li>

                                <hr class="m-0" />
                                <!-- item 1 -->
                                <li>
                                    <div class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        ">
                                        <!-- icon -->
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-toggle-off me-3"></i>
                                            <p class="m-0">Turn Off Active Status</p>
                                        </div>
                                    </div>

                            </ul>
                        </div>
                    </div>
                    <!-- friend 1 -->
                    <li class="dropdown-item rounded my-2 px-0" type="button" data-bs-toggle="modal"
                        data-bs-target="#singleChat1">
                        <!-- avatar -->
                        <div class="d-flex align-items-center mx-2 chat-avatar" data-bs-custom-class="chat-box"
                            data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left"
                            data-bs-trigger="hover" data-bs-content='
                    <div>
                      <div class="popover-body d-flex p-2">
                        <div>
                          <img src="" alt="avatar" class="pop-avatar"  />
                        </div>
                        <div >
                          <h5>Mike</h5>
                          <div class="d-flex">
                            <i class="fas fa-user-friends m-1 text-muted"></i>
                            <p>2 mutual friends: <span class="fw-bold">Jerry</span> and <span class="fw-bold">Phu</span></p>
                          </div>
                          <div class="d-flex">
                          <i class="fas fa-graduation-cap m-1 text-muted"></i>
                          <p>Studies at MIT</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  ' data-bs-html="true">
                            <div class="position-relative">
                                <img src="" alt="avatar" class="rounded-circle me-2"
                                    style="width: 38px; height: 38px; object-fit: cover" />
                                <span class="
                        position-absolute
                        bottom-0
                        translate-middle
                        border border-light
                        rounded-circle
                        bg-success
                        p-1
                      " style="left: 75%">
                                    <span class="visually-hidden"></span>
                                </span>
                            </div>
                            <p class="m-0">Friend</p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}