{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-5">

    <div class="col-lg-6 mx-auto">
        <a href="{% url 'profile-add' %}" class="" style="position: absolute; right:10%; top:15%;">
            <i class="fas fa-edit text-muted fs-1"></i>
        </a>
        <!-- dp -->
        <div class="text-center p-3 mt-4 w-100">
            <div class="p-1">
                <img src="{{request.user.profile_pic.url}}" alt="avatar" class="rounded-circle me-2"
                    data-bs-toggle="modal" data-bs-target="#profilePic" role="button"
                    style=" width: 200px; height: 200px; object-fit: cover;" />

                <!-- Modal -->
                <div class="modal fade" id="profilePic" tabindex="-1" aria-labelledby="profilePicLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="profilePicLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{request.user.profile_pic.url}}" alt="avatar" class="w-100 me-2" />

                            </div>
                            <div class="modal-footer">
                                <form action="" method="post" enctype="multipart/form-data"
                                    class="d-flex justify-content-center align-content-center">
                                    {% csrf_token %}
                                    <label for="id_profile_pic" class="me-5">
                                        <i type="button" class="fas fa-images text-muted pointer fs-1"></i>
                                    </label>

                                    <input type="file" name="profile_pic" id="id_profile_pic" style="opacity: 0;
                        width: 0.1px;
                        height: 0.1px;
                        position: absolute;">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <h4 class="my-3">{{request.user}}</h4>
            <p>{{request.user.user_profile.bio}}</p>
        </div>

        <div class="row d-flex justify-content-around p-0 text-center">
            <div class="col-3">
                <h4>{{request.user.user_blog.all.count}}</h4>
                <h4>Posts</h4>
            </div>
            <div class="col-3">
                <div data-bs-toggle="modal" data-bs-target="#followers" role="button">
                    <h4 class="followers_count">{{request.user.user_profile.get_followers_count}}</h4>
                    <h4>Followers</h4>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="followers" tabindex="-1" aria-labelledby="followersLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="followersLabel">Followers</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Followers -->


                                {% for user in request.user.user_profile.get_followers %}
                                <!-- s 1 -->
                                <li class="dropdown-item my-2 d-flex justify-content-between">
                                    <!-- img -->
                                    <a href="{% url 'other-profile' user.id %}" class="
                    d-flex 
                    align-items-center
                    text-decoration-none
                    link-dark
                  ">
                                        <img src="{{user.profile_pic.url}}" alt="ads"
                                            style="width: 100px; height: 100px; object-fit: cover"
                                            class="rounded me-3" />
                                        <div class="follower_container">
                                            <p class="mb-3">{{user}}</p>
                                            {% csrf_token %}
                                            <input class="follower_user_id" type="hidden" name="" value="{{user.id}}">
                                            <button
                                                class="btn btn-secondary remove_follower_btn follower{{user.id}}">Remove</button>
                                        </div>

                                    </a>
                                    <!-- icon -->
                                    <div class="
                    rounded-circle
                    p-1
                    bg-white
                    d-flex
                    align-items-center
                    justify-content-center
                    mx-2
                    sponsor-icon
                    nav-item
                  " type="button" style="width: 38px; height: 38px">
                                        <i class="fas fa-ellipsis-h text-muted p-2" data-bs-toggle="dropdown"></i>
                                        <!-- menu -->
                                        <ul class="dropdown-menu">
                                            <!-- item 1 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="far fa-window-close"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Hide Ad</p>
                                                        <span class="text-muted fs-7">Never see this add again.</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- item 2 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Report Ad</p>
                                                        <span class="text-muted fs-7">Tell us a problem with this
                                                            add.</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- item 3 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="fas fa-info-circle"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Why am I seeing this ad?</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div data-bs-toggle="modal" data-bs-target="#following" role="button">
                    <h4 class="following_count">{{request.user.user_profile.get_following_count}}</h4>
                    <h4>Following</h4>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="following" tabindex="-1" aria-labelledby="followingLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="followingLabel">Following</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Following -->


                                {% for user in request.user.user_profile.get_following %}
                                <!-- s 1 -->
                                <li class="dropdown-item my-2 d-flex justify-content-between">
                                    <!-- img -->
                                    <a href="#" class="
                    d-flex
                    align-items-center
                    text-decoration-none
                    link-dark
                  ">
                                        <img src="{{user.profile_pic.url}}" alt="ads"
                                            style="width: 100px; height: 100px; object-fit: cover"
                                            class="rounded me-3" />
                                        <div class="following_container">
                                            <p class="mb-3">{{user}}</p>
                                            {% csrf_token %}
                                            <input class="following_user_id" type="hidden" name="" value="{{user.id}}">
                                            <button
                                                class="btn btn-secondary unfollow_btn following{{user.id}}">Unfollow</button>
                                        </div>

                                    </a>
                                    <!-- icon -->
                                    <div class="
                    rounded-circle
                    p-1
                    bg-white
                    d-flex
                    align-items-center
                    justify-content-center
                    mx-2
                    sponsor-icon
                    nav-item
                  " type="button" style="width: 38px; height: 38px">
                                        <i class="fas fa-ellipsis-h text-muted p-2" data-bs-toggle="dropdown"></i>
                                        <!-- menu -->
                                        <ul class="dropdown-menu">
                                            <!-- item 1 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="far fa-window-close"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Hide Ad</p>
                                                        <span class="text-muted fs-7">Never see this add again.</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- item 2 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Report Ad</p>
                                                        <span class="text-muted fs-7">Tell us a problem with this
                                                            add.</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- item 3 -->
                                            <li class="dropdown-item">
                                                <a href="#" class="
                          d-flex
                          align-items-center
                          text-decoration-none text-dark
                        ">
                                                    <i class="fas fa-info-circle"></i>
                                                    <div class="ms-3">
                                                        <p class="m-0">Why am I seeing this ad?</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="pb-5">
            <div class="d-flex flex-column justify-content-center w-100 mx-auto" style="padding-top: 56px;">

                <!-- posts -->
                <!-- p 1 -->
                {% for blog in request.user.user_blog.all %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            <img src="{{blog.user.profile_pic.url}}" alt="avatar" class="rounded-circle me-2"
                                style="width: 38px; height: 38px; object-fit: cover" />
                            <div>
                                <p class="m-0 fw-bold">{{blog.user}}</p>
                                <span class="text-muted fs-7">{{blog.updated_at | timesince}}</span>
                            </div>
                        </div>
                        <!-- edit -->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                            aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="
                            dropdown-item
                            d-flex
                            justify-content-around
                            align-items-center
                            fs-7
                          " href="#">
                                    Edit Post</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a class="
                            dropdown-item
                            d-flex
                            justify-content-around
                            align-items-center
                            fs-7
                          " href="#">
                                    Delete Post</a>
                            </li>
                        </ul>
                    </div>
                    <!-- post content -->
                    <div class="mt-3">
                        <!-- content -->
                        <div>
                            <h6>{{blog.title}}</h6>
                            <p>
                                {{blog.description}}
                            </p>
                            {% if blog.image %}
                            <img src="{{blog.image.url}}" alt="post image" class="img-fluid rounded" />
                            {% endif %}
                        </div>
                        <!-- likes & comments -->
                        <div class="post__comment mt-3 position-relative">
                            <!-- likes -->
                            <div class="
                          d-flex
                          align-items-center
                          top-0
                          start-0
                          position-absolute
                        " style="height: 50px; z-index: 5">
                                <div class="me-2">
                                    <i class="text-primary fas fa-thumbs-up"></i>

                                </div>
                                <p class="m-0 text-muted fs-7 like_count{{blog.id}}">{{ blog.get_likes_count}}</p>
                            </div>
                            <!-- comments start-->
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item border-0">
                                    <!-- comment collapse -->
                                    <h2 class="accordion-header" id="headingTwo">
                                        <div class="
                                            view_comment
                                accordion-button
                                collapsed
                                pointer
                                d-flex
                                justify-content-end
                              " data-bs-toggle="collapse" data-bs-target="#collapsePost{{blog.id}}"
                                            aria-expanded="false" aria-controls="collapsePost{{blog.id}}">
                                            <p class="m-0 comment_count{{blog.id}}">{{blog.blog_comment.all.count}}
                                                Comments</p>
                                        </div>
                                    </h2>
                                    <hr />
                                    <!-- comment & like bar -->
                                    <div class="d-flex justify-content-around">
                                        <div class="like_container">
                                            <div class="like_btn d-flex
                                                justify-content-center
                                                align-items-center
                                                like_btn{{blog.id}}" role="button">
                                                {% if request.user in blog.liked_by.all %}
                                                <i class="fas fa-thumbs-up me-3 text-primary"></i>
                                                <p class="m-0">Liked</p>
                                                <input type="hidden" name="" class="is_liked" value="True">
                                                {% else %}
                                                <i class="fas fa-thumbs-up me-3"></i>
                                                <p class="m-0">Like</p>
                                                <input type="hidden" name="" class="is_liked" value="False">
                                                {% endif %}

                                                <input type="hidden" name="" class="blog_id" value="{{blog.id}}">
                                            </div>

                                        </div>
                                        <div class="
                                            view_comment
                                dropdown-item
                                rounded
                                d-flex
                                justify-content-center
                                align-items-center
                                pointer
                                text-muted
                                p-1
                                w-50
                              " data-bs-toggle="collapse" data-bs-target="#collapsePost{{blog.id}}"
                                            aria-expanded="false" aria-controls="collapsePost{{blog.id}}" role="button">
                                            <i class="fas fa-comment-alt me-3"></i>
                                            <p class="m-0">Comment</p>
                                        </div>
                                    </div>
                                    <!-- comment expand -->
                                    <div id="collapsePost{{blog.id}}" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <hr />
                                        <div class="accordion-body ">
                                            <div class="comment_body{{blog.id}}">
                                                {% for comment in blog.blog_comment.all %}
                                                <!-- comment 1 -->
                                                <div class="d-flex align-items-center my-1">
                                                    <!-- avatar -->
                                                    <img src="{{comment.user.profile_pic.url}}" alt="avatar"
                                                        class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  " />
                                                    <!-- comment text -->
                                                    <div class="p-3 rounded comment__input w-100">
                                                        <!-- comment menu of author -->
                                                        <div class="d-flex justify-content-end">
                                                            <!-- icon -->
                                                            <i class="fas fa-ellipsis-h text-blue pointer"
                                                                id="post1CommentMenuButton" data-bs-toggle="dropdown"
                                                                aria-expanded="false"></i>
                                                            <!-- menu -->
                                                            <ul class="dropdown-menu border-0 shadow"
                                                                aria-labelledby="post1CommentMenuButton">
                                                                <li class="d-flex align-items-center">
                                                                    <a class="
                                            dropdown-item
                                            d-flex
                                            justify-content-around
                                            align-items-center
                                            fs-7
                                          " href="#">
                                                                        Edit Comment</a>
                                                                </li>
                                                                <li class="d-flex align-items-center">
                                                                    <a class="
                                            dropdown-item
                                            d-flex
                                            justify-content-around
                                            align-items-center
                                            fs-7
                                          " href="#">
                                                                        Delete Comment</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <p class="fw-bold m-0">{{comment.user}}</p>
                                                        <p class="m-0 fs-7 bg-gray p-2 rounded">
                                                            {{comment.comment}}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <!-- create comment -->
                                            <form id="commentForm{{blog.id}}">
                                                <div class="d-flex my-1 comment">
                                                    <!-- avatar -->
                                                    <div>
                                                        <img src="{{request.user.profile_pic.url}}" alt="avatar"
                                                            class="rounded-circle me-2" style="
                                      width: 38px;
                                      height: 38px;
                                      object-fit: cover;
                                    " />
                                                    </div>
                                                    {% csrf_token %}
                                                    <!-- input -->
                                                    <input type="hidden" name="blog_id" class="blog_id"
                                                        value="{{blog.id}}">
                                                    <input type="text"
                                                        class="comment_input form-control border-0 rounded-pill bg-gray"
                                                        placeholder="Write a comment" />
                                                    <span class="btn btn-warning ms-2 add_comment"
                                                        role="button">ADD</span>
                                                </div>
                                            </form>
                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor%}

            </div>
        </div>
    </div>
</div>

{% endblock %}