a {
    text-decoration: none;
    color: #000
}

.logo {
    font-family: 'Mochiy Pop One', sans-serif;
}

.scrollbar {
    overflow: auto !important;
    overflow-x: hidden !important;
}

html {
    --scrollbarBG: #fff;
    --thumbBG: #fff;
}

.scrollbar::-webkit-scrollbar {
    width: 15px;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.accordion-body {
    padding: 0;
}


.post__comment .accordion-button::after {
    margin-left: 0 !important;
    display: none !important;
}

.post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

@media(max-width:767px) {
    .add_profile {
        margin-top: 25% !important;
    }

    .row {
        --bs-gutter-x: 0;
    }

    .container-fluid {
        --bs-gutter-x: 0;
    }

    .dropdown-menu {
        z-index: 50;
        overflow-y: auto;
    }
}