<div class="d-none d-lg-block">
    <!--======= dp =========-->
    <a href="{% url 'my-profile' %}">
        <div class="text-center p-3 mt-4 w-100">
            <div class="p-1">
                <img src="{{request.user.profile_pic.url}}" alt="avatar" class="rounded-circle me-2"
                    style="width: 200px; height: 200px; object-fit: cover; position: relative;" />
            </div>
            <h4 class="my-3">{{request.user}}</h4>
        </div>
        <div class="row d-flex justify-content-around p-0 text-center">
            <div class="col-3">
                <h4>{{request.user.user_blog.all.count}}</h4>
                <h6>Posts</h6>
            </div>
            <div class="col-3 ">
                {% if request.user.user_profile.get_followers_count %}
                <h4>{{request.user.user_profile.get_followers_count}}</h4>
                {% else %}
                <h4>0</h4>
                {% endif %}
                <h6>Followers</h6>
            </div>
            <div class="col-3 ">
                {% if request.user.user_profile.get_following_count %}
                <h4 class="refresh_following">{{request.user.user_profile.get_following_count}}</h4>
                {% else %}
                <h4>0</h4>
                {% endif %}
                <h6>Following</h6>
            </div>
        </div>
    </a>
    <div class="p-3 mt-4 mb-5">
        <!-- suggestions -->
        <h5 class="text-muted">Suggestions</h5>

        {% if request.user.user_profile.get_suggestions %}
        {% for user in request.user.user_profile.get_suggestions %}
        <!-- s 1 -->
        <li class="dropdown-item my-2 d-flex justify-content-between">
            <!-- img -->
            <a href="{% url 'other-profile' user.id %}"
                class="d-flex align-items-center text-decoration-none link-dark">
                <img src="{{user.profile_pic.url}}" alt="ads" style="width: 100px; height: 100px; object-fit: cover"
                    class="rounded me-3" />
                <div class="follow_container ms-3">
                    <p class="mb-3">{{user}}</p>
                    {% csrf_token %}
                    <input class="follow_user_id" type="hidden" name="" value="{{user.id}}">
                    <button class="btn btn-primary follow_btn followed{{user.id}}">Follow</button>
                </div>
            </a>
        </li>
        {% endfor %}
        {% else %}
        <p class="">Add <span><a href="{% url 'profile-add' %}" class="text-primary">profile</a></span> to
            get User Suggestions</p>
        {% endif %}

    </div>
</div>